@media screen and (max-width: 768px){
    .container{
        background-color: #1b6d85;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .container{
        background-color: #2eadae;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
    .container{
        background-color: #0cc3ca;
    }
}

@media screen and (min-width: 1200px){
    .container{
        background-color: #eaf8d9;
    }
}

.input-group .form-control{
    z-index: unset;
}